*Debug
ipch

*.sdf
*.suo
*.aps
*.user
*.opendb
*.db
/_build
/samples/integration_test/_build
/_install
/.vs
/CMakeLists.txt.user
.cache
*~
build/
*.*-workspace
*.*-project

# Common build directories in CMake projects
build*

# Temporary Vim files
*.swp
